@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nanum+Gothic&family=Solway:wght@300;400;500;700;800&display=swap");

:root {
  --primary: #fcb4b4;
  --secondary: #ea6c80;
  --secondary-light: #ffffff;
  --white: var(--white);
  --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "solway", sans-serif;
}


/* global settings */

body.no-scroll {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Solway", sans-serif;
  background-color: #fff9f7
}

body.scroll {
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  font-family: "Solway", sans-serif;
  background-color: #fff9f7;
}


/* sticky header */
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--primary);
  }
  
/* header styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%; 
}
  
header .logo {
    height: 90px; 
}
  
header nav .nav_links {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
header nav .nav_links li {
    display: inline;
    margin: 0 20px;
}
  
header nav .nav_links li a {
    text-decoration: none;
    color: var(--secondary-light);
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0,3 ease;
}
  
  
header nav .nav_links li a:hover {
    color: #ea6c80;
    background-color: #fff;
}


/* footer */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 20px;
    color: #fff;
  }
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  
  .footer-bottom {
    background: #ea6c80;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }



/* blog */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    padding: 0 20px; 
}

main {
    padding: 40px; 
    background: transparent;
    width: 60%;
}

/* article styles */
article {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

article img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* content styles */
.content {
    padding: 20px;
}

article h2 {
    color: #444;
    font-size: 40px;
    margin-bottom: 5px;
}

article h3 {
    color: #444;
    font-size: 30px;
    margin-bottom: 5px;
}

.post-meta {
    color: #444;
    font-size: 14px;
    margin-bottom: 20px;
}

article p {
    color: #444;
    line-height: 1.8;
    margin-bottom: 20px;
}